<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8" />
    <title>Randevu Al</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_kullanici_randevu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
</head>
<body>
    <div class="container">
        <h2>Randevu Al</h2>
        <form method="POST" action="/randevu">
            <label for="tarih">Tarih</label>
            <input type="date" id="tarih" name="tarih" required>

            <label for="saat">Saat</label>
            <input type="time" id="saat" name="saat" required>

            <label for="doktor">Doktor</label>
            <select id="doktor" name="doktor" required>
                <option value="">Seçiniz</option>
                <option value="Dr. Taha Erbil">Dr. Taha Erbil</option>
                <option value="Dr. Berika Ertem">Dr. Berika Ertem</option>
                <option value="Dr. Kaan Zeynep ">Dr. Kaan Zeynep</option>
            </select>

            <label for="aciklama">Açıklama</label>
            <textarea id="aciklama" name="aciklama" placeholder="İsteğe bağlı..." rows="3"></textarea>

            <button type="submit">Randevu Oluştur</button>
        </form>

        <a class="back-link" href="/kullanici">← Geri Dön</a>
    </div>
</body>
</html>
