<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8" />
    <title>Hasta Girişi</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_kullanici_login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <nav class="navbar">
      <div class="navbar-logo">
        <span class="logo-text">Beykent Diş Polikliniği</span>
      </div>
      <button class="navbar-toggle" onclick="toggleMenu()">☰</button>
      <ul class="navbar-links" id="navbarLinks">
        <li><a href="/">Anasayfa</a></li>
        <li><a href="/hekimler">Hekimler</a></li>
        <li><a href="/hizmetler">Hizmetler</a></li>
      </ul>
    </nav>
    <div class="container" style="margin-top: 85px; margin-bottom: 10px;">
        <h1>Hasta Girişi</h1>

        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul class="flash-messages">
              {% for category, mesaj in messages %}
                <li class="{{ category }}">{{ mesaj }}</li>
              {% endfor %}
            </ul>
          {% endif %} 
        {% endwith %}

        <form method="POST" action="/kullanici">
            <label for="kullanici_adi">Kullanıcı Adı</label>
            <input type="text" id="kullanici_adi" placeholder="İsim Soyisim" name="kullanici_adi" required>

            <label for="tc">TC Kimlik No</label>
            <input type="text" id="tc" placeholder="Tc Kimlik No" name="tc" required maxlength="11" pattern="\d{11}" oninput="this.value=this.value.replace(/[^0-9]/g,'');">

            <label for="sifre">Şifre</label>
            <input type="password" id="sifre" placeholder="Şifre" name="sifre" required>

            <button type="submit">Giriş Yap</button>
        </form>

        <a class="back-link" href="/sifremi_unuttum">Şifremi Unuttum?</a>
        <a class="back-link" href="/">← Anasayfa</a>
    </div>
    <script>
    function toggleMenu() {
      var links = document.getElementById('navbarLinks');
      links.classList.toggle('open');
    }
    </script>
</body>
</html>
