<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8" />
    <title>Şifremi Unuttum</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_sifremi_unuttum.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar">
      <div class="navbar-logo">
        <span class="logo-text">Beykent Diş Polikliniği</span>
      </div>
      <button class="navbar-toggle" onclick="toggleMenu()">☰</button>
      <ul class="navbar-links" id="navbarLinks">
        <li><a href="/">Anasayfa</a></li>
        <li><a href="/hekimler">Hekimler</a></li>
        <li><a href="/hizmetler">Hizmetler</a></li>
      </ul>
    </nav>
    <div class="container" style="margin-top:72px;">
        <h1>Şifre Yenile</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul class="flash-messages">
              {% for category, mesaj in messages %}
                <li class="{{ category }}">{{ mesaj }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        {% if not kod_gonderildi %}
        <form method="POST">
            <label for="isim">İsim Soyisim</label>
            <input type="text" id="isim" name="isim" placeholder="İsim Soyisim" required>

            <label for="tc">TC Kimlik No</label>
            <input type="text" id="tc" name="tc" placeholder="Tc Kimlik No" required maxlength="11" pattern="[0-9]{11}" oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0,11);">

            <label for="eposta">E-posta</label>
            <input type="email" id="eposta" name="eposta" placeholder="example@.com"required>

            <button type="submit" name="dogrulama_iste">Doğrulama Kodu Gönder</button>
        </form>
        {% else %}
        <form method="POST">
            <input type="hidden" name="isim" value="{{ isim }}">
            <input type="hidden" name="tc" value="{{ tc }}">
            <input type="hidden" name="eposta" value="{{ eposta }}">
            <label for="kod">E-posta Doğrulama Kodu</label>
            <input type="text" id="kod" name="kod" required>
            <label for="yeni_sifre">Yeni Şifre</label>
            <input type="password" id="yeni_sifre" name="yeni_sifre" required>
            <button type="submit" name="sifre_yenile">Şifreyi Yenile</button>
        </form>
        {% endif %}
        <a class="back-link" href="/kullanici">← Girişe Dön</a>
    </div>
    <script>
    function toggleMenu() {
      var links = document.getElementById('navbarLinks');
      links.classList.toggle('open');
    }
    </script>
</body>
</html>